body {
    background-image: url('https://images.unsplash.com/photo-1502691876148-a84978e59af8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);
}
.container {
    width: 60%;
    margin: 0 auto;
    background: white;

}
h1, h2, p {
    margin-bottom: 15px;
}